@font-face {
    font-family: Shabnam;
    src: url('../assets/fonts/shabnam font/Shabnam.eot');
    src: url('../assets/fonts/shabnam font/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/shabnam font/Shabnam.woff') format('woff'),
    url('../assets/fonts/shabnam font/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Shabnam-Bold;
    src: url('../assets/fonts/shabnam font/Shabnam-Bold.eot');
    src: url('../assets/fonts/shabnam font/Shabnam-Bold.eot') format('embedded-opentype'),
    url('../assets/fonts/shabnam font/Shabnam-Bold.woff') format('woff'),
    url('../assets/fonts/shabnam font/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Shabnam-Light;
    src: url('../assets/fonts/shabnam font/Shabnam-Light.eot');
    src: url('../assets/fonts/shabnam font/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/shabnam font/Shabnam-Light.woff') format('woff'),
    url('../assets/fonts/shabnam font/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Shabnam-FD;
    src: url('../assets/fonts/shabnam font/Shabnam-FD.eot');
    src: url('../assets/fonts/shabnam font/Shabnam-FD.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/shabnam font/Shabnam-FD.woff') format('woff'),
    url('../assets/fonts/shabnam font/Shabnam-FD.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Shabnam-Bold;
    src: url('../assets/fonts/shabnam font/Shabnam-Bold-FD.eot');
    src: url('../assets/fonts/shabnam font/Shabnam-Bold-FD.eot') format('embedded-opentype'),
    url('../assets/fonts/shabnam font/Shabnam-Bold-FD.woff') format('woff'),
    url('../assets/fonts/shabnam font/Shabnam-Bold-FD.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Shabnam-Light;
    src: url('../assets/fonts/shabnam font/Shabnam-Light-FD.eot');
    src: url('../assets/fonts/shabnam font/Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/shabnam font/Shabnam-Light-FD.woff') format('woff'),
    url('../assets/fonts/shabnam font/Shabnam-Light-FD.ttf') format('truetype');
    font-weight: 300;
}



a {
    color: white;
    text-decoration: none;
}

#studio {
    color: dodgerblue;
}

body {
    font-family: Shabnam, serif;
    height: 600px;
    padding: 0px;
    margin: 0px;
    background-color: black;
}

#homepage_link {
    position: relative;
    float: right;
    right: 10%;
    top: 20px;
}

#homepage_link img {
    width: 25px;
    position: relative;
    top: 10px;
    left: 10px;
}

#navigation_bar {
    background: transparent;
    width: 100%;
    position: fixed;
    z-index: 2;
}

#register_button {
    font-family: Shabnam;
    width: 5%;
    border: none;
    background-color: #0066ff;
    color: white;
    position: relative;
    left: 10%;
    top: 20px;
    border-radius: 3px;
}


#login_button {
    position: relative;
    top: 20px;
    left: 20%;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: none;
}